html{
	background-color: #e1e3e8;
}

.body{
	margin-left: 10%;
	margin-top: 3%;
	height: 90%;
	width: 80%;
	border-style: solid;
	border-color: black;
	background-color: #98d4f2;
	border-radius: 12px;
}

.user_text{
	height: 10%;
	width: 80%;
	font-size: 150%;
	border-radius: 10px;
}

.submit{
	float: right;
	height: 10%;
	width: 19%;
	font-size: 150%;
	border-radius: 10px;
}

.text_area{
	height: 85%;
	width: 90%;
	margin-left: 5%;
	background-color: white;
	border-radius: 10px;
}
